html{
  height: 100%;
  font-family: Helvetica;
}

body{
  overflow:scroll;
  width: 100%;
  height:100%;
  background-color: #f0f3f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content:center;
}

.outerbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  background-color: white;
  border-radius: 3px;
  max-width: 475px;
}

.box_title {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 15px 30px;
  border-bottom: solid 1px #f0f3f7;
  font-weight: 700;
}

.box_body {
  padding: 30px 30px 0 30px;
}

.box_body_link {
  display: flex;
  align-content: center;
  align-items: center;
  color: #ea7a58;
  padding: 20px 0 30px 0;
  font-weight: 700;
}

svg {
  height: 24px;
  width: 24px;
  margin-right: 20px;
}

.svg_arrow {
  fill: #ea7a58;
}

.outerbox_button {
  display: flex;
  justify-content: center;
}

button {
  background-color: #ea7a58;
  padding: 20px 30px;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  margin: 30px;
}

button:hover {
  background-color: white;
  border: solid 1px;
  border-color: #ea7a58;
  color: #ea7a58;
}

.addedblock{
  margin-top: 30px;
}

.box_body_link_crowd{
  display: flex;
  align-content: center;
  align-items: center;
  color: #23339b;
  padding: 20px 0 30px 0;
  font-weight: 700;
}

.svg_arrow_crowd{
   fill: #23339b;
}

@media screen and (max-width: 480px) {
  .box {
    margin: 10px;
  }
}